In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("not_normalized.xlsx")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Meine Produktionsdaten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Uninteressant,Eigenschaft2,Fehlerquote,NaN,NaN
3,2019-03-06 10:52:33,5,0.900,24.6,x,5,Ja,NaN,NaN,NaN
4,2019-03-06 10:52:34,6,0.700,25.2,NaN,2,Nein,NaN,NaN,Kommentar zu dieser Messung
5,2019-03-06 10:52:35,1,0.823,26.5,x,5,Ja,NaN,NaN,NaN
6,2019-03-06 10:52:36,9,0.900,25.6,x,2,Ja,0.10,NaN,NaN
7,2019-03-06 10:52:37,6,0.700,26.2,x,5,Ja,NaN,NaN,NaN
8,2019-03-06 10:52:38,7,0.823,27.5,NaN,2,Nein,NaN,NaN,NaN
9,2019-03-06 10:52:39,2,0.900,26.6,x,5,Ja,0.03,NaN,NaN
10,2019-03-06 10:52:40,10,0.700,27.2,NaN,2,Ja,0.05,NaN,NaN
11,2019-03-06 10:52:41,7,0.823,28.5,NaN,5,Ja,NaN,NaN,NaN

### ^ Schaut  nicht optimal aus üòê

### √úberschrift entfernen

In [3]:
df = pd.read_excel("not_normalized.xlsx", header=3)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Uninteressant,Eigenschaft2,Fehlerquote,Unnamed: 8,Unnamed: 9
0,2019-03-06 10:52:33,5,0.900,24.6,x,5,Ja,NaN,NaN,NaN
1,2019-03-06 10:52:34,6,0.700,25.2,NaN,2,Nein,NaN,NaN,Kommentar zu dieser Messung
2,2019-03-06 10:52:35,1,0.823,26.5,x,5,Ja,NaN,NaN,NaN
3,2019-03-06 10:52:36,9,0.900,25.6,x,2,Ja,0.10,NaN,NaN
4,2019-03-06 10:52:37,6,0.700,26.2,x,5,Ja,NaN,NaN,NaN
5,2019-03-06 10:52:38,7,0.823,27.5,NaN,2,Nein,NaN,NaN,NaN
6,2019-03-06 10:52:39,2,0.900,26.6,x,5,Ja,0.03,NaN,NaN
7,2019-03-06 10:52:40,10,0.700,27.2,NaN,2,Ja,0.05,NaN,NaN
8,2019-03-06 10:52:41,7,0.823,28.5,NaN,5,Ja,NaN,NaN,NaN

### Datentypen √ºberpr√ºfen

In [4]:
# Dict comprehension:
{
    col: df[col].dtype
    for col in df
}

{'time_stamp': dtype('O'),
 'Ertrag': dtype('int64'),
 'Luftfeuchtigkeit': dtype('float64'),
 'Temperatur': dtype('float64'),
 'Eigenschaft1': dtype('O'),
 'Uninteressant': dtype('int64'),
 'Eigenschaft2': dtype('O'),
 'Fehlerquote': dtype('float64'),
 'Unnamed: 8': dtype('float64'),
 'Unnamed: 9': dtype('O')}

In [5]:
# Pandas Property
df.dtypes

time_stamp           object
Ertrag                int64
Luftfeuchtigkeit    float64
Temperatur          float64
Eigenschaft1         object
Uninteressant         int64
Eigenschaft2         object
Fehlerquote         float64
Unnamed: 8          float64
Unnamed: 9           object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time_stamp        9 non-null      object
 1   Ertrag            9 non-null      int64
 2   Luftfeuchtigkeit  9 non-null      float64
 3   Temperatur        9 non-null      float64
 4   Eigenschaft1      5 non-null      object
 5   Uninteressant     9 non-null      int64
 6   Eigenschaft2      9 non-null      object
 7   Fehlerquote       3 non-null      float64
 8   Unnamed: 8        0 non-null      float64
 9   Unnamed: 9        1 non-null      object
dtypes: float64(4), int64(2), object(4)
memory usage: 848.0+ bytes

### Eigenschaft1 und Eigenschaft2 besser darstellen

In [7]:
df['Eigenschaft1']

0      x
1    NaN
2      x
3      x
4      x
5    NaN
6      x
7    NaN
8    NaN
Name: Eigenschaft1, dtype: object

In [8]:
def is_equal_to_x(value):
    return value == 'x'

In [9]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    }
)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Uninteressant,Eigenschaft2,Fehlerquote,Unnamed: 8,Unnamed: 9
0,2019-03-06 10:52:33,5,0.900,24.6,True,5,Ja,NaN,NaN,NaN
1,2019-03-06 10:52:34,6,0.700,25.2,False,2,Nein,NaN,NaN,Kommentar zu dieser Messung
2,2019-03-06 10:52:35,1,0.823,26.5,True,5,Ja,NaN,NaN,NaN
3,2019-03-06 10:52:36,9,0.900,25.6,True,2,Ja,0.10,NaN,NaN
4,2019-03-06 10:52:37,6,0.700,26.2,True,5,Ja,NaN,NaN,NaN
5,2019-03-06 10:52:38,7,0.823,27.5,False,2,Nein,NaN,NaN,NaN
6,2019-03-06 10:52:39,2,0.900,26.6,True,5,Ja,0.03,NaN,NaN
7,2019-03-06 10:52:40,10,0.700,27.2,False,2,Ja,0.05,NaN,NaN
8,2019-03-06 10:52:41,7,0.823,28.5,False,5,Ja,NaN,NaN,NaN

In [10]:
df['Eigenschaft2']

0      Ja
1    Nein
2      Ja
3      Ja
4      Ja
5    Nein
6      Ja
7      Ja
8      Ja
Name: Eigenschaft2, dtype: object

In [11]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    },
    true_values=["Ja"],
    false_values=["Nein"],
)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Uninteressant,Eigenschaft2,Fehlerquote,Unnamed: 8,Unnamed: 9
0,2019-03-06 10:52:33,5,0.900,24.6,True,5,True,NaN,NaN,NaN
1,2019-03-06 10:52:34,6,0.700,25.2,False,2,False,NaN,NaN,Kommentar zu dieser Messung
2,2019-03-06 10:52:35,1,0.823,26.5,True,5,True,NaN,NaN,NaN
3,2019-03-06 10:52:36,9,0.900,25.6,True,2,True,0.10,NaN,NaN
4,2019-03-06 10:52:37,6,0.700,26.2,True,5,True,NaN,NaN,NaN
5,2019-03-06 10:52:38,7,0.823,27.5,False,2,False,NaN,NaN,NaN
6,2019-03-06 10:52:39,2,0.900,26.6,True,5,True,0.03,NaN,NaN
7,2019-03-06 10:52:40,10,0.700,27.2,False,2,True,0.05,NaN,NaN
8,2019-03-06 10:52:41,7,0.823,28.5,False,5,True,NaN,NaN,NaN

In [12]:
df['Eigenschaft2']

0     True
1    False
2     True
3     True
4     True
5    False
6     True
7     True
8     True
Name: Eigenschaft2, dtype: bool

### Uninteressant und andere Spalten weglassen

In [13]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    },
    true_values=["Ja"],
    false_values=["Nein"],
    usecols=["time_stamp", "Ertrag", "Luftfeuchtigkeit", "Temperatur", "Eigenschaft1", "Eigenschaft1", "Fehlerquote"],
)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Fehlerquote
0,2019-03-06 10:52:33,5,0.900,24.6,True,NaN
1,2019-03-06 10:52:34,6,0.700,25.2,False,NaN
2,2019-03-06 10:52:35,1,0.823,26.5,True,NaN
3,2019-03-06 10:52:36,9,0.900,25.6,True,0.10
4,2019-03-06 10:52:37,6,0.700,26.2,True,NaN
5,2019-03-06 10:52:38,7,0.823,27.5,False,NaN
6,2019-03-06 10:52:39,2,0.900,26.6,True,0.03
7,2019-03-06 10:52:40,10,0.700,27.2,False,0.05
8,2019-03-06 10:52:41,7,0.823,28.5,False,NaN

### NaN weglassen bei Fehlerquote?

In [14]:
df['Fehlerquote']

0     NaN
1     NaN
2     NaN
3    0.10
4     NaN
5     NaN
6    0.03
7    0.05
8     NaN
Name: Fehlerquote, dtype: float64

In [15]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    },
    true_values=["Ja"],
    false_values=["Nein"],
    usecols=["time_stamp", "Ertrag", "Luftfeuchtigkeit", "Temperatur", "Eigenschaft1", "Eigenschaft1", "Fehlerquote"],
    na_filter=False,
)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Fehlerquote
0,2019-03-06 10:52:33,5,0.900,24.6,True,
1,2019-03-06 10:52:34,6,0.700,25.2,False,
2,2019-03-06 10:52:35,1,0.823,26.5,True,
3,2019-03-06 10:52:36,9,0.900,25.6,True,0.10
4,2019-03-06 10:52:37,6,0.700,26.2,True,
5,2019-03-06 10:52:38,7,0.823,27.5,False,
6,2019-03-06 10:52:39,2,0.900,26.6,True,0.03
7,2019-03-06 10:52:40,10,0.700,27.2,False,0.05
8,2019-03-06 10:52:41,7,0.823,28.5,False,

In [16]:
df['Fehlerquote'][0]

''

In [17]:
# So sind keine Berechnungen m√∂glich, aber soll es m√∂glich sein?
# Was ist der Durchschnitt, wenn Werte fehlen?

try:
    df['Fehlerquote'].mean()
except Exception as e:
    print("Fehler aufgetreten:", e)

Fehler aufgetreten: can only concatenate str (not "float") to str

### Datumspalte als solche markieren

In [18]:
df['time_stamp']

0    2019-03-06 10:52:33
1    2019-03-06 10:52:34
2    2019-03-06 10:52:35
3    2019-03-06 10:52:36
4    2019-03-06 10:52:37
5    2019-03-06 10:52:38
6    2019-03-06 10:52:39
7    2019-03-06 10:52:40
8    2019-03-06 10:52:41
Name: time_stamp, dtype: object

In [19]:
# Einzelne Werte wurden als Datum erkannt, aber nicht die ganze Spalte
df['time_stamp'][0]

'2019-03-06 10:52:33'

In [20]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    },
    true_values=["Ja"],
    false_values=["Nein"],
    usecols=["time_stamp", "Ertrag", "Luftfeuchtigkeit", "Temperatur", "Eigenschaft1", "Eigenschaft1", "Fehlerquote"],
    parse_dates=["time_stamp"],
)
df

,time_stamp,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Fehlerquote
0,2019-03-06 10:52:33,5,0.900,24.6,True,NaN
1,2019-03-06 10:52:34,6,0.700,25.2,False,NaN
2,2019-03-06 10:52:35,1,0.823,26.5,True,NaN
3,2019-03-06 10:52:36,9,0.900,25.6,True,0.10
4,2019-03-06 10:52:37,6,0.700,26.2,True,NaN
5,2019-03-06 10:52:38,7,0.823,27.5,False,NaN
6,2019-03-06 10:52:39,2,0.900,26.6,True,0.03
7,2019-03-06 10:52:40,10,0.700,27.2,False,0.05
8,2019-03-06 10:52:41,7,0.823,28.5,False,NaN

In [21]:
df['time_stamp']

0   2019-03-06 10:52:33
1   2019-03-06 10:52:34
2   2019-03-06 10:52:35
3   2019-03-06 10:52:36
4   2019-03-06 10:52:37
5   2019-03-06 10:52:38
6   2019-03-06 10:52:39
7   2019-03-06 10:52:40
8   2019-03-06 10:52:41
Name: time_stamp, dtype: datetime64[ns]

### Index ausw√§hlen

In [22]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x
    },
    true_values=["Ja"],
    false_values=["Nein"],
    usecols=["time_stamp", "Ertrag", "Luftfeuchtigkeit", "Temperatur", "Eigenschaft1", "Eigenschaft1", "Fehlerquote"],
    parse_dates=["time_stamp"],
    index_col=0,
)
df

,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Fehlerquote
time_stamp,,,,,
2019-03-06 10:52:33,5,0.900,24.6,True,NaN
2019-03-06 10:52:34,6,0.700,25.2,False,NaN
2019-03-06 10:52:35,1,0.823,26.5,True,NaN
2019-03-06 10:52:36,9,0.900,25.6,True,0.10
2019-03-06 10:52:37,6,0.700,26.2,True,NaN
2019-03-06 10:52:38,7,0.823,27.5,False,NaN
2019-03-06 10:52:39,2,0.900,26.6,True,0.03
2019-03-06 10:52:40,10,0.700,27.2,False,0.05
2019-03-06 10:52:41,7,0.823,28.5,False,NaN

In [23]:
# Index bei jeder Series (Spalte) eingetragen
df['Luftfeuchtigkeit']

time_stamp
2019-03-06 10:52:33    0.900
2019-03-06 10:52:34    0.700
2019-03-06 10:52:35    0.823
2019-03-06 10:52:36    0.900
2019-03-06 10:52:37    0.700
2019-03-06 10:52:38    0.823
2019-03-06 10:52:39    0.900
2019-03-06 10:52:40    0.700
2019-03-06 10:52:41    0.823
Name: Luftfeuchtigkeit, dtype: float64

### Luftfeuchtigkeit als ganzzahlige Prozentzahl

In [24]:
def float_to_percent(number):
    return int(number * 100)

In [25]:
df = pd.read_excel(
    "not_normalized.xlsx",
    header=3,
    converters={
        "Eigenschaft1": is_equal_to_x,
        "Luftfeuchtigkeit": float_to_percent,
    },
    true_values=["Ja"],
    false_values=["Nein"],
    usecols=["time_stamp", "Ertrag", "Luftfeuchtigkeit", "Temperatur", "Eigenschaft1", "Eigenschaft1", "Fehlerquote"],
    parse_dates=["time_stamp"],
    index_col=0,
)
df

,Ertrag,Luftfeuchtigkeit,Temperatur,Eigenschaft1,Fehlerquote
time_stamp,,,,,
2019-03-06 10:52:33,5,90,24.6,True,NaN
2019-03-06 10:52:34,6,70,25.2,False,NaN
2019-03-06 10:52:35,1,82,26.5,True,NaN
2019-03-06 10:52:36,9,90,25.6,True,0.10
2019-03-06 10:52:37,6,70,26.2,True,NaN
2019-03-06 10:52:38,7,82,27.5,False,NaN
2019-03-06 10:52:39,2,90,26.6,True,0.03
2019-03-06 10:52:40,10,70,27.2,False,0.05
2019-03-06 10:52:41,7,82,28.5,False,NaN

In [26]:
df['Luftfeuchtigkeit']

time_stamp
2019-03-06 10:52:33    90
2019-03-06 10:52:34    70
2019-03-06 10:52:35    82
2019-03-06 10:52:36    90
2019-03-06 10:52:37    70
2019-03-06 10:52:38    82
2019-03-06 10:52:39    90
2019-03-06 10:52:40    70
2019-03-06 10:52:41    82
Name: Luftfeuchtigkeit, dtype: int64